h1,
h2,
h3,
h5,
h6,
label,
span,
a  {
    font-family: medium;
}

h4 {
    font-family: bold;
}

p {
    font-family: regular;
}

h1 {
    font-size: 2.25rem;
    line-height: 40px;
}

h2 {
    font-size: 1.875rem;
    line-height: 36px;
}

h3 {
    font-size: 1.5rem;
    line-height: 28px;
}

h4,
h5,
h6,
label,
p,
a {
    line-height: 24px;
}

h4,
h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

label,
p,
a {
    font-size: 1rem;
}

a {
    text-decoration: none;
}