h1,
h2,
h3,
h5,
h6,
label,
a  {
    font-family: medium;
}

h4 {
    font-family: bold;
}

p {
    font-family: regular;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

h4,
h5,
h6,
label,
p,
a {
    line-height: 24px;
}

h4,
h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

label,
p,
a {
    font-size: 16px;
}

a {
    text-decoration: none;
}