body {
    background-color: var(--body-bg);
    margin: 0;
}

header {
    background-color: var(--header-bg);
    padding-top: var(--desktop-col-gutter);
}

header a.active {
    border-bottom: var(--header-text-active-border-width) var(--header-text-active) solid;
}

.main-header .admin-area {
    font-family: bold;
    font-size: var(--font-size-header-5);
}

.main-header a,
.main-header label {
    color: var(--header-text-color);
}

.main-header .profile {
    position: relative;
    margin-left: var(--desktop-col-gutter);
}

.main-header .profile > a {
    background-color: var(--header-profile-BG);
    border-radius: 10px;
    color: var(--header-profile-color);
    padding: var(--desktop-col-gutter);
}

.main-header .profile > .notification {
    background-color: var(--header-notification-BG);
    border-radius: 20px;
    color: var(--header-notification-color);
    font-size: 0.625rem;
    padding: 7px 10px;
    position: absolute;
    top: -19px;
    right: -5px;
}

.main-header > .col {
    display: flex;
}

.main-header > .col.site-logo {
    align-items: center;
}

.main-header > .col.site-logo > img {
    border-right: 1px solid var(--header-profile-color);
    padding-right: var(--mobile-col-gutter);
    margin-right: var(--mobile-col-gutter);
    width: auto;
}

.main-header .main-nav > a,
.sub-header a {
    padding: var(--mobile-col-gutter);
}

.main-header > .col.site-logo .arrow {
    background-image: url(/assets/icons/chevron-down.svg);
    width: var(--font-size-header-5);
    height: var(--font-size-header-5);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2px;
}

.sub-header {
    background-color: var(--sub-header-bg);
}

.sub-header a {
    color: var(--sub-header-text-color);
    display: inline-block;
}

.main-header .user {
    justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
    .main-header .profile {
        margin-left: var(--mobile-col-gutter);
    }

    .main-header .profile > .notification {
        top: -11px;
        right: -8px;
        padding: 5px 8px;
    }
    
    .main-header .profile > a {
        padding: var(--mobile-col-gutter);
    }

    .main-header > .col.site-logo > img {
        padding-right: var(--mobile-col-gutter);
        margin-right: var(--mobile-col-gutter);
    }

    .main-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main-header > .col.site-logo {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;   
    }

    .main-header .main-nav {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; 
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main-header .user {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .main-header > .col.user,
    .main-header > .col.site-logo {
        margin-bottom: var(--desktop-col-gutter);
    }
}

@media only screen and (min-width: 768px) {
    .main-header > .col.site-logo,
    .main-header > .col.user {
        margin-bottom: var(--header-text-active-border-width);
    }
    .main-header > .col.site-logo {
        max-width: 200px; /* Keep menu links close to logo */
    }
}

@media only screen and (max-width: 1023px) {
    .main-header > .col.site-logo > img {
        width: 50px;
    }
}
