header,
main,
footer {
    padding: 0 var(--mobile-page-margin);
}

body {
    margin: 16px 0;
}

.container,
.row {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.col {
    margin: 0 var(--mobile-col-gutter);
}

.row > .col:first-of-type,
.row > .col:last-of-type {
    margin: 0;
}

/* Mobile columns */
.s-col-1 {
    width: calc(var(--mobile-col-width));    
}

.s-col-2 {
    width: calc(var(--mobile-col-width) * 2);    
}

.s-col-3 {
    width: calc(var(--mobile-col-width) * 3);        
}

.s-col-4 {
    width: 100%;    
}

/* Tablet breakpoint */
@media only screen and (min-width: 357px) and (max-width: 767px) {
    /* Tablet columns */
    .m-col-1 {
        width: calc(var(--tablet-col-width));    
    }
    .m-col-2 {
        width: calc(var(--tablet-col-width) * 2);    
    }
    .m-col-3 {
        width: calc(var(--tablet-col-width) * 3);    
    }
    .m-col-4 {
        width: calc(var(--tablet-col-width) * 4);    
    }
    .m-col-5 {
        width: calc(var(--tablet-col-width) * 5);    
    }
    .m-col-6 {
        width: calc(var(--tablet-col-width) * 6);    
    }
    .m-col-7 {
        width: calc(var(--tablet-col-width) * 7);    
    }
    .m-col-8 {
        width: 100%;    
    }
}

/* Desktop breakpoint */
@media only screen and (min-width: 768px) {
    header,
    main,
    footer {
        padding: 0 var(--desktop-page-margin);
    }
    .col {
        margin: 0 var(--desktop-col-gutter);
    }    
    /* Desktop columns */
    .d-col-1 {
        width: calc(var(--desktop-col-width));    
    }
    .d-col-2 {
        width: calc(var(--desktop-col-width) * 2);    
    }
    .d-col-3 {
        width: calc(var(--desktop-col-width) * 3);    
    }
    .d-col-4 {
        width: calc(var(--desktop-col-width) * 4);    
    }
    .d-col-5 {
        width: calc(var(--desktop-col-width) * 5);    
    }
    .d-col-6 {
        width: calc(var(--desktop-col-width) * 6);    
    }
    .d-col-7 {
        width: calc(var(--desktop-col-width) * 7);    
    }
    .d-col-8 {
        width: calc(var(--desktop-col-width) * 8);    
    }
    .d-col-9 {
        width: calc(var(--desktop-col-width) * 9);    
    }
    .d-col-10 {
        width: calc(var(--desktop-col-width) * 10);    
    }
    .d-col-11 {
        width: calc(var(--desktop-col-width) * 11);    
    }
    .d-col-12 {
        width: 100%;    
    }
}
