/* Font imports */
@font-face {
    font-family: bold;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: medium;
    src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: regular;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

:root {
    /* Core colours */
    --white: #ffffff;
    --grey-100: #f2f2f2;
    --grey-500: #898989;
    --grey-900: #000000;
    --grey-300: #D5D5D5;
    --grey-600: #646464;
    --blue-500: #2943E5;
    --navy-800: #040138;
    --teal-900: #029FB4;

    --body-bg: var(--grey-100);
    --content-bg: var(--white);

    /* Column Values */
    --mobile-col-width: 25%;
    --tablet-col-width: 12.5%;
    --desktop-col-width: 8.33%;
    --mobile-col-gutter: 0.5rem;
    --desktop-col-gutter: 0.75rem;
    --mobile-page-margin: 1rem;
    --desktop-page-margin: 3rem;

    /* Font sizes */
    --font-size-header-1: 2.25rem;
    --font-size-header-2: 1.875rem;
    --font-size-header-3: 1.5rem;
    --font-size-header-4: 1.25rem;
    --font-size-header-5: 1.125rem;
    --font-size-normal: 1rem;

    /* Header */
    --header-bg: var(--white);
    --header-text-color: var(--grey-900);
    --header-text-active: var(--teal-900);
    --header-text-active-border-width: 0.313rem;
    --header-profile-BG: var(--grey-300);
    --header-profile-color: var(--navy-800);
    --header-notification-BG: var(--navy-800);
    --header-notification-color: var(--white);

    /* Footer */
    --footer-bg: var(--white);
    --footer-link-color: var(--grey-600);
    --footer-copyright-color: var(--grey-900);

    /* Sub Header */
    --sub-header-bg: var(--navy-800);
    --sub-header-text-color: var(--white);

    /* CTAs */
    --cta-bg: var(--navy-800);
    --cta-color: var(--white);
    --cta-border: 0.063rem solid var(--cta-color);
    --cta-invert-bg: var(--white);
    --cta-invert-color: var(--grey-900);
    --cta-invert-border: 0.063rem solid var(--cta-invert-color);
    --cta-disabled-bg: var(--grey-100);
    --cta-disabled-color: var(--grey-500);
    --cta-disabled-border: 0.063rem solid var(--cta-disabled-color);

    /* Table */
    --table-link-color: var(--blue-500);
    --table-bg: var(--white);
    --table-highlight-bg: var(--grey-100);
    --table-border: 0.063rem solid var(--grey-500);
}
