table {
    border-spacing: 0;
    width: 100%;
}

.table-options {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--mobile-col-gutter);
}

.results-table {
    border-radius: 10px;
    padding: var(--mobile-col-gutter) 0;
    margin: var(--mobile-page-margin) 0;
}

.filter::before {
    background-image: url(/assets/icons/filter.svg);
    width: var(--font-size-normal);
    height: var(--font-size-normal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: '';
    display: inline-block;
}

td > a {
    color: var(--table-link-color);
}

table tbody td,
thead th {
    padding: var(--desktop-col-gutter);
}

thead th {
    text-align: left;
}

td > img,
.results-table #page-number {
    border: var(--table-border);
    height: 50px;
    width: 50px;
}

.results-table #page-number {
    border-radius: 8px;
}

.table-actions {
    justify-content: end;
    padding: var(--desktop-col-gutter);
}

.table-actions > .col {
    text-align: right;
    width: auto;
}

.table-actions input[type=number] {
    text-align: center;
}

.table-actions input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media only screen and (max-width: 424px) {
    .table-actions {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .table-actions > .col {
        order: 1;
    }
    .table-actions > #pagination {
        text-align: center;
        order: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    thead {
        display: none;
    }
    table tbody tr {
        margin: var(--desktop-page-margin) 0;
        display: block;
    }
    table tbody td {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }
    table tbody td::before {
        content: attr(data-label);
        font-weight: 700;
        margin-right: 10px;
        text-align: left;
    }
    tbody tr > td:nth-of-type(odd) {
        background-color: var(--table-highlight-bg);
    }
    tbody tr > td:nth-of-type(even) {
        background-color: var(--table-bg);
    }
}

@media only screen and (min-width: 768px) {
    .results-table {
        padding: var(--desktop-col-gutter) 0;
        margin: var(--desktop-page-margin) 0;
    }
    tbody > tr:nth-of-type(odd) {
        background-color: var(--table-highlight-bg);
    }
    tbody > tr:nth-of-type(even) {
        background-color: var(--table-bg);
    }
}
