.inventory-table .page-header > .col:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.s-col-3 > a,
.s-col-3 > button {
    margin-left: var(--desktop-col-gutter);
}

@media only screen and (max-width: 424px) {
    .page-header h2 {
        font-size: var(--font-size-header-5);
        margin-right: var(--mobile-col-gutter);
    }

    .s-col-3 > a,
    .s-col-3 > button {
        margin-left: var(--mobile-col-gutter);
    }
}